
#sidebar-container {
	display: none;
	position: fixed;
	width: 0px;
	top: 0px;
	right: 0px;
	height: 100%;
	overflow-y: auto;
	background-color: #F9F9F9;
	box-shadow: 0px 0px 10px 0px #111;
	z-index: 1001;
}

#sidebar-container form div.Actions {
	padding: 1.25rem;
}

#sidebar-container div.field ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar-container ul.multivaluefieldlist input, #sidebar-container ul.multivaluefieldlist select {
	display: inline-block;
	width: 48%;
}

#sidebar-container fieldset {
    border: 1px solid #ddd;
    margin: 1.125rem 0;
    padding: 1.25rem;
}